!!!
%html
  %head
    %title Transistor Sizes
    %link{media: 'screen', rel: 'stylesheet', type: 'text/css', href: '/style.css'}
    %script{type: 'text/javascript', src: '//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js'}
    %script{type: 'text/javascript', src: '/app.js'}
    %script{type: 'text/javascript', src: '/raphael.js'}
    %script{type: 'text/javascript', src: '/raphael-zpd.js'}
  %body
    %header
      %h1 Transistor Sizes
    #container
