!!!
%html
  %head
    %title Transistor Sizes
    %link{media: 'screen', rel: 'stylesheet', type: 'text/css', href: '/style.css'}
    %script{type: 'text/javascript', src: '//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js'}
    %script{type: 'text/javascript', src: '/app.js'}
    %script{type: 'text/javascript', src: '/raphael.js'}
    %script{type: 'text/javascript', src: '/raphael-zpd.js'}
  %body
    %a#github{href: "https://github.com/joshnuss/silicon-packages"}
      %img{src: "https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt: "Fork me on GitHub"}
    %header
      %h1 Transistors
      %navbar
        %a.penny{title: 'Toggle display of penny'}
        %a.dimension{title: 'Toggle display of dimensions'}
        %a.name{title: 'Toggle display of names'}
    #container
