*
  margin: 0
  padding: 0

body
  font-family: Tahoma, sans-serif

header, footer, section
  display: block

header
  background: #ccc
  padding: 20px
  border-bottom: solid 2px #888
  box-shadow: 1px 0px 7px navy

h1
  color: navy
  text-shadow: -1px 1px 2px white

#github
  img
    position: absolute
    top: 0
    right: 0
    border: 0

#container
  margin-top: 4px
